.top-slider .bxslider{
  list-style-type: none;
}

.bx-wrapper .bx-viewport{
  box-shadow: none;
  border: none;
  left: 0;
  background: none;
}
.bx-wrapper img{
  width: 100%;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background-color: white;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid black;
}

.bx-wrapper .bx-controls-direction a {
  top: 50%;
  margin-top: -10px;
  width: 14px;
  height: 43px;
  z-index: 0;
}

.bx-wrapper .bx-prev {
  left: 10px;
  background: url('../images/slider-prev-arrow.png') no-repeat 100%;
  background-size: cover;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url('../images/slider-next-arrow.png') no-repeat 100%;
  background-size: cover;
}
.bx-wrapper .bx-prev:hover {
  background-position: 0;
}
.bx-wrapper .bx-next:hover {
  background-position: 0;
}
.bx-wrapper {
  margin: 0 auto 40px;
}
.top-slider-line {
  display: block;
  height: 2px;
  background-color: rgb(218, 218, 218);
}
@media screen and (min-width: 767px) {
  .bx-wrapper .bx-controls-direction a {
    top: 50%;
    margin-top: -57px;
    width: 30px;
    height: 114px;
  }
}